body {
  background-color: #222629;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
h1 {
  color: #6B6E70;
  text-align: center;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #61892F;
}



h1 {
  color: #6B6E70;
  text-align: center;
}

.recipe_text {
  color: #6B6E70;
}

.recipe_heading {
  color: #61892F;
  font-family: verdana;
  font-size: 30px;
}

pre {
  color: #6B6E70;
  font-family: verdana;
  font-size: 20px;
}

.button {
  background-color: #61892F;
  border: none;
  color: #222629;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #222629;
  border: 1;
  color:  #61892F;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  color: #61892F;
  text-align: center;
  font-family: verdana;
  font-size: 15px;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}